$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?d93d17050cdf71722557c2d855124c35") format("truetype"),
url("./flaticon.woff?d93d17050cdf71722557c2d855124c35") format("woff"),
url("./flaticon.woff2?d93d17050cdf71722557c2d855124c35") format("woff2"),
url("./flaticon.eot?d93d17050cdf71722557c2d855124c35#iefix") format("embedded-opentype"),
url("./flaticon.svg?d93d17050cdf71722557c2d855124c35#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "crane": "\f101",
    "crane-1": "\f102",
    "brickwall": "\f103",
    "renovation": "\f104",
    "house": "\f105",
    "design-team": "\f106",
    "construction": "\f107",
    "construction-1": "\f108",
    "sketch": "\f109",
    "architect": "\f10a",
    "home": "\f10b",
    "blueprint": "\f10c",
    "call": "\f10d",
    "plumber": "\f10e",
    "location": "\f10f",
    "clock": "\f110",
    "customer-service": "\f111",
    "mail": "\f112",
    "message": "\f113",
    "under-construction": "\f114",
    "construction-machine": "\f115",
    "worker": "\f116",
    "workers": "\f117",
    "building": "\f118",
    "architecture": "\f119",
    "construction-2": "\f11a",
    "mixer-truck": "\f11b",
    "worker-1": "\f11c",
    "construction-3": "\f11d",
    "user": "\f11e",
    "user-1": "\f11f",
    "building-1": "\f120",
    "blueprint-1": "\f121",
    "play": "\f122",
    "email": "\f123",
    "envelope": "\f124",
    "placeholder": "\f125",
    "phone-call": "\f126",
    "location-1": "\f127",
    "call-1": "\f128",
    "live-chat": "\f129",
    "chat": "\f12a",
    "interview": "\f12b",
    "phone-call-1": "\f12c",
    "smartphone": "\f12d",
    "calendar": "\f12e",
    "client": "\f12f",
    "pin": "\f130",
    "dollar": "\f131",
    "architect-1": "\f132",
    "phone-call-2": "\f133",
    "bubble-chat": "\f134",
);

.flaticon-crane:before {
    content: map-get($flaticon-map, "crane");
}
.flaticon-crane-1:before {
    content: map-get($flaticon-map, "crane-1");
}
.flaticon-brickwall:before {
    content: map-get($flaticon-map, "brickwall");
}
.flaticon-renovation:before {
    content: map-get($flaticon-map, "renovation");
}
.flaticon-house:before {
    content: map-get($flaticon-map, "house");
}
.flaticon-design-team:before {
    content: map-get($flaticon-map, "design-team");
}
.flaticon-construction:before {
    content: map-get($flaticon-map, "construction");
}
.flaticon-construction-1:before {
    content: map-get($flaticon-map, "construction-1");
}
.flaticon-sketch:before {
    content: map-get($flaticon-map, "sketch");
}
.flaticon-architect:before {
    content: map-get($flaticon-map, "architect");
}
.flaticon-home:before {
    content: map-get($flaticon-map, "home");
}
.flaticon-blueprint:before {
    content: map-get($flaticon-map, "blueprint");
}
.flaticon-call:before {
    content: map-get($flaticon-map, "call");
}
.flaticon-plumber:before {
    content: map-get($flaticon-map, "plumber");
}
.flaticon-location:before {
    content: map-get($flaticon-map, "location");
}
.flaticon-clock:before {
    content: map-get($flaticon-map, "clock");
}
.flaticon-customer-service:before {
    content: map-get($flaticon-map, "customer-service");
}
.flaticon-mail:before {
    content: map-get($flaticon-map, "mail");
}
.flaticon-message:before {
    content: map-get($flaticon-map, "message");
}
.flaticon-under-construction:before {
    content: map-get($flaticon-map, "under-construction");
}
.flaticon-construction-machine:before {
    content: map-get($flaticon-map, "construction-machine");
}
.flaticon-worker:before {
    content: map-get($flaticon-map, "worker");
}
.flaticon-workers:before {
    content: map-get($flaticon-map, "workers");
}
.flaticon-building:before {
    content: map-get($flaticon-map, "building");
}
.flaticon-architecture:before {
    content: map-get($flaticon-map, "architecture");
}
.flaticon-construction-2:before {
    content: map-get($flaticon-map, "construction-2");
}
.flaticon-mixer-truck:before {
    content: map-get($flaticon-map, "mixer-truck");
}
.flaticon-worker-1:before {
    content: map-get($flaticon-map, "worker-1");
}
.flaticon-construction-3:before {
    content: map-get($flaticon-map, "construction-3");
}
.flaticon-user:before {
    content: map-get($flaticon-map, "user");
}
.flaticon-user-1:before {
    content: map-get($flaticon-map, "user-1");
}
.flaticon-building-1:before {
    content: map-get($flaticon-map, "building-1");
}
.flaticon-blueprint-1:before {
    content: map-get($flaticon-map, "blueprint-1");
}
.flaticon-play:before {
    content: map-get($flaticon-map, "play");
}
.flaticon-email:before {
    content: map-get($flaticon-map, "email");
}
.flaticon-envelope:before {
    content: map-get($flaticon-map, "envelope");
}
.flaticon-placeholder:before {
    content: map-get($flaticon-map, "placeholder");
}
.flaticon-phone-call:before {
    content: map-get($flaticon-map, "phone-call");
}
.flaticon-location-1:before {
    content: map-get($flaticon-map, "location-1");
}
.flaticon-call-1:before {
    content: map-get($flaticon-map, "call-1");
}
.flaticon-live-chat:before {
    content: map-get($flaticon-map, "live-chat");
}
.flaticon-chat:before {
    content: map-get($flaticon-map, "chat");
}
.flaticon-interview:before {
    content: map-get($flaticon-map, "interview");
}
.flaticon-phone-call-1:before {
    content: map-get($flaticon-map, "phone-call-1");
}
.flaticon-smartphone:before {
    content: map-get($flaticon-map, "smartphone");
}
.flaticon-calendar:before {
    content: map-get($flaticon-map, "calendar");
}
.flaticon-client:before {
    content: map-get($flaticon-map, "client");
}
.flaticon-pin:before {
    content: map-get($flaticon-map, "pin");
}
.flaticon-dollar:before {
    content: map-get($flaticon-map, "dollar");
}
.flaticon-architect-1:before {
    content: map-get($flaticon-map, "architect-1");
}
.flaticon-phone-call-2:before {
    content: map-get($flaticon-map, "phone-call-2");
}
.flaticon-bubble-chat:before {
    content: map-get($flaticon-map, "bubble-chat");
}
